body{
    font-family: monospace;
    background: #000;
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list{
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 10px;
    width: 25%;
    padding: 10px;
    height: 600px;
    gap: 10px;
    overflow: auto;
}
.user{
    display: flex;
    /* justify-content: space-evenly; */
    padding: 0px 10px;
    align-items: center;
    border-radius: 6px;
    background: #111;
    font-size: 18px;
    height: 60px;
    
}
.name{
   width: 70%;   
   margin-left:50px;
   /* padding: 8px; */
}

a{
    width: 15%;
}

img{
    height:32px ;
    width: 32px;
}